# Compiled binaries for the current project
*.exe
*.dll
*.so
*.dylib
*.o
*.bin
output/
bin/ # Direktori output build, seperti yang didefinisikan di Makefile

# Editor or IDE specific files
.idea/           # JetBrains IDEs (IntelliJ IDEA, GoLand)
.vscode/         # Visual Studio Code
.DS_Store        # macOS system files
*~               # Backup files created by some editors
*.swp            # Vim swap files

# Go specific
/vendor/         # Go Modules vendor directory (optional, but good practice to ignore if you're not committing it)
*.zip            # Zipped Go Modules cache (can be created by Go)
*.out            # Test output files
coverage.out     # Go test coverage output
/.env            # Environment variables (sensitive info, never commit!)
/.env.* # Other environment files like .env.production, .env.development etc.
/tmp/            # Temporary files

# Logs and databases
*.log            # Log files
*.db             # SQLite databases (if you use SQLite for dev)
*.sqlite3        # Another common SQLite extension

# Docker
.dockerignore
Dockerfile.build # If you have multi-stage build files not meant for final image

# Dependency directories
node_modules/    # If you have a frontend part with Node.js